/* This stylesheet is used to style the public-facing components of the plugin. */

article[id^="club-"] {

    img.club-logo {

      max-width:  170px;
      max-height: 170px;
      padding:    5px;
      border:     1px solid lightgrey;

    }

    a[rel="back"]:before {
      content: "«««";
      padding-right: 0.5em;
    }

    p.vcard a {
      padding-right:  10px;
    }
}

article#post-80 {

  /* Source: http://csswizardry.com/2013/05/the-flag-object/ */
  .flag {
    display: table;
    width: 100%;
  }

  div.club-box {

    border:         1px solid lightgrey;
    padding:        4px;
    position:       relative;
    border-radius:  2px;
    margin-bottom:  10px;
    overflow:       hidden;
    display:        block;

    &:hover {
      -webkit-box-shadow: 0px 0px 15px -10px grey;
      box-shadow: 0px 0px 15px -10px grey;
    }

    img {

      margin:     0;
      max-height: 80px;
      max-width:  80px;
      display:    inline;

    }

     p {

       text-align:  left;
       width:       80%;
       font-size:   1.6em;
       display:     inline-block;
     }

    span.club-list-num {
      position: absolute;
      right: -2px;
      color: #D3D3D3;
      top: 3px;
      font-size: 2.8em;
    }

  }

  .flag__image,
  .flag__body {
    display: table-cell;
    vertical-align: middle;

    .flag--top & {
      vertical-align: top;
    }

    .flag--bottom & {
      vertical-align: bottom;
    }

  }

  .flag__image {
    padding-right: 10px;

    > img {
      display: block;
      max-width: none;
    }

    .flag--rev & {
      padding-right: 0;
      padding-left: 10px;
    }

  }

  .flag__body {
    width: 100%;
  }

}
