/* This stylesheet is used to style the public-facing components of the plugin. */
/* This applies to the full page clubs pages */
article[id^="club-"] img.club-logo {
  max-width: 170px;
  max-height: 170px;
  padding: 5px;
  border: 1px solid lightgrey; }
article[id^="club-"] a[rel="back"]:before {
  content: "<<<";
  padding-right: 0.5em; }
article[id^="club-"] p.vcard a {
  padding-right: 10px; }

/* Applies to the clubs/events lists */
blockquote[id^="clubs"],
blockquote[id^="events"] {
  margin: 17px 40px; }

/* Source: http://csswizardry.com/2013/05/the-flag-object/ */
.flag {
  display: table;
  width: 100%; }

/* Tilde explained here: http://css-tricks.com/attribute-selectors/ */
div[class~="__box"] {
  border: 1px solid lightgrey;
  padding: 4px;
  position: relative;
  border-radius: 2px;
  margin-bottom: 10px;
  overflow: hidden;
  display: block; }
  div[class~="__box"]:hover {
    -webkit-box-shadow: 0px 0px 15px -10px grey;
    box-shadow: 0px 0px 15px -10px grey; }
  div[class~="__box"] img {
    margin: 0;
    max-height: 80px;
    max-width: 80px;
    display: inline; }
  div[class~="__box"] p {
    text-align: left;
    width: 80%;
    font-size: 1.6em;
    display: inline-block;
    font-family: "Adobe Caslon Pro",Palatino,"Times New Roman",serif; }
  div[class~="__box"] span[class~="__box__count"] {
    position: absolute;
    right: -2px;
    color: #D3D3D3;
    top: 3px;
    font-size: 2.8em; }

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle; }
  .flag--top .flag__image, .flag--top
  .flag__body {
    vertical-align: top; }
  .flag--bottom .flag__image, .flag--bottom
  .flag__body {
    vertical-align: bottom; }

.flag__image {
  padding-right: 10px; }
  .flag__image > img {
    display: block;
    max-width: none; }
  .flag--rev .flag__image {
    padding-right: 0;
    padding-left: 10px; }

.flag__body {
  width: 100%; }

@media only screen and (max-width: 480px) {
  blockquote[id^="clubs"],
  blockquote[id^="events"] {
    margin: 17px 10px; }

  div[class~="__box"] img {
    max-height: 70px;
    max-width: 70px; }
  div[class~="__box"] p {
    font-size: 1.1em; }
  div[class~="__box"] span[class~="__box__count"] {
    font-size: 2em; } }
