/* This stylesheet is used to style the public-facing components of the plugin. */
/* http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
/* ====== media ====== */
.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.media .img {
  float: left;
  margin-right: 10px; }

.media .img img {
  display: block; }

.media .imgExt {
  float: right;
  margin-left: 10px; }

.media .img {
  width: 16%;
  padding-top: 1%; }

/* Mostly ripped from usc-jobs */
.page-id-127 .et_pb_fullwidth_header,
.parent-pageid-127 .et_pb_fullwidth_header,
.usc_clubs-main-content .et_pb_fullwidth_header {
  background-color: #ff5a5a; }
.page-id-127 .breadcrumbs a:hover,
.page-id-127 #content-area .et_pb_widget_area li a:hover,
.page-id-127 .collapseomatic:hover,
.parent-pageid-127 .breadcrumbs a:hover,
.parent-pageid-127 #content-area .et_pb_widget_area li a:hover,
.parent-pageid-127 .collapseomatic:hover,
.usc_clubs-main-content .breadcrumbs a:hover,
.usc_clubs-main-content #content-area .et_pb_widget_area li a:hover,
.usc_clubs-main-content .collapseomatic:hover {
  color: rgba(255, 90, 90, 0.8) !important; }
.page-id-127 h4,
.parent-pageid-127 h4,
.usc_clubs-main-content h4 {
  color: #ff5a5a; }
.page-id-127 .usc-breadcrumbs,
.parent-pageid-127 .usc-breadcrumbs,
.usc_clubs-main-content .usc-breadcrumbs {
  background-color: #fbfbfb; }
.page-id-127 .invisible,
.parent-pageid-127 .invisible,
.usc_clubs-main-content .invisible {
  visibility: hidden; }

.usc_clubs-main-content #usc_clubs-post {
  padding-top: 0 !important; }
.usc_clubs-main-content .usc_clubs-entry-content p, .usc_clubs-main-content .page-id-285 .type-usc_clubs p, .page-id-285 .usc_clubs-main-content .type-usc_clubs p {
  /* Got both of these from Tyler's style.css */
  font-size: 1.25em;
  line-height: 1.85; }
.usc_clubs-main-content .news-article-info .post-meta {
  font-size: 1.05em; }
.usc_clubs-main-content .usc_clubs__contact__social_media .social_media_links {
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #555555;
  padding: 9px;
  box-sizing: border-box; }
  .usc_clubs-main-content .usc_clubs__contact__social_media .social_media_links:hover {
    color: rgba(255, 90, 90, 0.8); }
  .usc_clubs-main-content .usc_clubs__contact__social_media .social_media_links .label {
    display: block; }
.usc_clubs-main-content .usc_clubs__contact__social_media .etmodules:before {
  font-family: 'ETmodules';
  font-weight: 400;
  font-size: 2.6em; }
.usc_clubs-main-content .usc_clubs__contact__social_media .etmodules:hover:before {
  color: rgba(255, 90, 90, 0.8); }
.usc_clubs-main-content .usc_clubs__contact__social_media .facebookUrl:before {
  content: "\e0c1";
  /* social_facebook_square */
  content: "\e0aa";
  /* social_facebook_circle */
  content: "\e093";
  /* social_facebook */
  color: #3b5998; }
.usc_clubs-main-content .usc_clubs__contact__social_media .twitterUrl:before {
  content: "\e0ab";
  /* social_twitter_circle */
  content: "\e0c2";
  /* social_twitter_square */
  content: "\e094";
  /* social_twitter */
  color: #55ACEE; }
.usc_clubs-main-content .usc_clubs__contact__social_media .flickrFeedUrl:before {
  content: "\e0d4";
  /* social_flickr_square */
  content: "\e0bd";
  /* social_flickr_circle */
  content: "\e0a6";
  /* social_flickr */
  color: #FF0084; }
.usc_clubs-main-content .usc_clubs__contact__social_media .youtubeChannelUrl:before {
  content: "\e0d1";
  /* social_youtube_square */
  content: "\e0ba";
  /* social_youtube_circle */
  content: "\e0a3";
  /* social_youtube */
  color: #e52d27; }
.usc_clubs-main-content .usc_clubs__contact__social_media .googleCalendarUrl:before {
  content: "\e0c4";
  /* social_googleplus_square */
  content: "\e0ad";
  /* social_googleplus_circle */
  content: "\e096";
  /* social_googleplus */
  color: #dd4b39; }

.usc_clubs-entry-content, .page-id-285 .type-usc_clubs {
  /* Resetting styles so as to match the USC directory page */ }
  .usc_clubs-entry-content p, .page-id-285 .type-usc_clubs p {
    margin-left: 0;
    padding-bottom: .35em; }
  .usc_clubs-entry-content a, .page-id-285 .type-usc_clubs a {
    color: #ff5a5a; }
    .usc_clubs-entry-content a:hover, .page-id-285 .type-usc_clubs a:hover {
      color: rgba(255, 90, 90, 0.8); }
  .usc_clubs-entry-content .person-content, .page-id-285 .type-usc_clubs .person-content, .usc_clubs-entry-content .person, .page-id-285 .type-usc_clubs .person {
    box-sizing: border-box;
    margin-right: 15px; }
    .usc_clubs-entry-content .person-content p, .page-id-285 .type-usc_clubs .person-content p, .usc_clubs-entry-content .person p, .page-id-285 .type-usc_clubs .person p {
      line-height: 1.8;
      padding-bottom: 1em;
      font-size: 14px; }
  .usc_clubs-entry-content span.subheading, .page-id-285 .type-usc_clubs span.subheading {
    display: inline-block;
    font-weight: 600;
    padding-right: 5px; }
  .usc_clubs-entry-content .usc_clubs__contact .usc_clubs__contact__child, .page-id-285 .type-usc_clubs .usc_clubs__contact .usc_clubs__contact__child {
    float: left;
    width: 50%; }

.page-id-285 .collapseomatic {
  display: none; }
.page-id-285 .et_pb_widget_area.collapseomatic_excerpt, .page-id-285 .et_pb_widget_area.collapseomatic_content {
  margin-left: 0px;
  padding: 0;
  background: none;
  border: none; }
.page-id-285 .et_pb_widget_area .et_pb_widget {
  margin: 15px 0px 25px; }
  .page-id-285 .et_pb_widget_area .et_pb_widget .widgettitle {
    color: #ff5a5a; }
.page-id-285 .et_pb_widget_area .filterjs__filter__search__wrapper input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 1.75em;
  margin: 10px 0; }
  .page-id-285 .et_pb_widget_area .filterjs__filter__search__wrapper input:focus {
    border-bottom: 1px solid #ff5a5a; }
.page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li {
  margin: 0; }
  .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:first-of-type {
    margin-top: 15px; }
  .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:last-of-type {
    margin-bottom: 10px; }
    .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li:last-of-type label {
      border-bottom: 1px solid #CCC; }
  .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label {
    border: 1px solid #cccccc;
    padding: 15px 15px;
    display: block;
    position: relative;
    margin: 0;
    background: none repeat scroll 0% 0% #efefef;
    border-color: #CCC;
    color: #666666;
    color: rgba(102, 102, 102, 0.5);
    background-color: #efefef;
    background-color: rgba(239, 239, 239, 0.5);
    border-bottom: none;
    cursor: pointer; }
    .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label input {
      opacity: 0.5;
      filter: alpha(opacity=50);
      /* For IE8 and earlier */ }
    .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label:hover {
      color: #666666; }
    .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label.checked {
      border-color: #CCC;
      color: #666666;
      color: #666666;
      background-color: #efefef;
      background-color: #efefef; }
      .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label.checked input {
        opacity: 1;
        filter: alpha(opacity=100);
        /* For IE8 and earlier */ }
    .page-id-285 .et_pb_widget_area .filterjs__filter__checkbox__wrapper ul li label input {
      margin: 3px 18px 3px 3px; }
.page-id-285 .usc_clubs--count {
  box-sizing: border-box;
  margin-top: 15px;
  color: #666666;
  text-transform: none;
  padding: 0;
  font-style: italic;
  font-weight: 400; }
.page-id-285 .type-usc_clubs {
  /* border color, margin, background color */
  border: 1px solid #efefef;
  padding: 15px 15px;
  display: block;
  position: relative;
  margin: 15px 0 25px;
  background: none repeat scroll 0% 0% white; }
  .page-id-285 .type-usc_clubs h2 {
    margin: 0 0 10px 0;
    padding: 10px 0 20px 0;
    border-bottom: 1px dashed #efefef;
    color: #ff5a5a;
    position: relative; }
    .page-id-285 .type-usc_clubs h2:hover {
      color: rgba(255, 90, 90, 0.8); }
    .page-id-285 .type-usc_clubs h2:before {
      font-family: 'ETmodules';
      content: "\45";
      font-size: 0.75em;
      position: absolute;
      right: 2px;
      color: #ff5a5a;
      -webkit-transition-property: right;
      -moz-transition-property: right;
      -o-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.05s;
      -moz-transition-duration: 0.05s;
      -o-transition-duration: 0.05s;
      transition-duration: 0.05s;
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
    .page-id-285 .type-usc_clubs h2:hover:before {
      right: 0;
      color: rgba(255, 90, 90, 0.8); }
  .page-id-285 .type-usc_clubs p,
  .page-id-285 .type-usc_clubs .post-meta {
    padding: 0; }
    .page-id-285 .type-usc_clubs p a,
    .page-id-285 .type-usc_clubs .post-meta a {
      cursor: default; }

.button_area_at_the_bottom_of_a_single_usc_club {
  text-align: right; }
  .button_area_at_the_bottom_of_a_single_usc_club ul li {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0 15px 0 0px;
    box-sizing: border-box;
    margin: 15px 0 0 0 !important; }
    .button_area_at_the_bottom_of_a_single_usc_club ul li a {
      color: #666;
      position: relative; }
      .button_area_at_the_bottom_of_a_single_usc_club ul li a.height_of_person_header {
        padding: 10px 15px; }
      .button_area_at_the_bottom_of_a_single_usc_club ul li a:hover {
        color: rgba(255, 90, 90, 0.8); }
        .button_area_at_the_bottom_of_a_single_usc_club ul li a:hover:before {
          right: 15px; }

.btn-menu ul li a {
  position: relative; }
.btn-menu :before {
  font-weight: normal; }
.btn-menu .job_description_file:before {
  content: "\e092"; }
.btn-menu .job_posting_file:before {
  content: "\e092"; }
.btn-menu .application_link:before {
  content: "\e02b"; }

@media screen and (max-width: 980px) {
  .page-id-285 .collapseomatic {
    display: block;
    padding: 15px;
    color: #666;
    margin-top: 15px;
    border: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .page-id-285 .et_pb_widget_area.collapseomatic_excerpt, .page-id-285 .et_pb_widget_area.collapseomatic_content {
    display: none;
    padding: 15px;
    background-color: #f9f9f9; }
    .page-id-285 .et_pb_widget_area.collapseomatic_excerpt .searchbox, .page-id-285 .et_pb_widget_area.collapseomatic_content .searchbox {
      background-color: #f9f9f9; }
  .page-id-285 .usc_clubs--count {
    margin-top: 30px; }

  .usc_clubs-main-content .usc_clubs__contact__social_media .social_media_links {
    width: 33%; }

  .usc_clubs-entry-content .person-content, .page-id-285 .type-usc_clubs .person-content, .usc_clubs-entry-content .person, .page-id-285 .type-usc_clubs .person {
    margin-right: 0px; }
  .usc_clubs-entry-content .usc_clubs__contact .usc_clubs__contact__child, .page-id-285 .type-usc_clubs .usc_clubs__contact .usc_clubs__contact__child {
    padding-top: 15px;
    width: 100%; }

  .button_area_at_the_bottom_of_a_single_usc_club ul li {
    width: 100%;
    display: block;
    padding: 0; } }
@media screen and (max-width: 750px) {
  .media .img {
    display: none; }

  .usc_clubs-entry-content .usc_clubs__contact .usc_clubs__contact__child, .page-id-285 .type-usc_clubs .usc_clubs__contact .usc_clubs__contact__child {
    width: 100%; }

  .usc_clubs-main-content .usc_clubs__contact__social_media .social_media_links {
    width: 50%; } }
@media screen and (max-width: 480px) {
  .type-usc_clubs .img {
    display: none; }

  .usc_clubs-main-content .usc_clubs__contact__social_media .social_media_links {
    padding: 20px; }
    .usc_clubs-main-content .usc_clubs__contact__social_media .social_media_links .label {
      display: none; } }
/* This applies to the full page clubs pages
article[id^="club-"] {

  img.club-logo {

    max-width:  170px;
    max-height: 170px;
    padding:    5px;
    border:     1px solid lightgrey;

  }

  a[rel="back"]:before {

    content: "<<<";
    padding-right: 0.5em;
  }

  p.vcard a {

    padding-right:  10px;
  }
}


/* Applies to the clubs/events lists *
/* Attribute selectors explained here: http://css-tricks.com/attribute-selectors/ *
blockquote[id^="clubs"],
blockquote[id^="events"] {

  margin: 17px 40px;
}

/* Source: http://csswizardry.com/2013/05/the-flag-object/ *
.flag {
  display: table;
  width: 100%;
}

div[class*="__box"] {

  border:         1px solid lightgrey;
  padding:        4px;
  position:       relative;
  border-radius:  2px;
  margin-bottom:  10px;
  overflow:       hidden;
  display:        block;

  &:hover {

    -webkit-box-shadow: 0px 0px 15px -10px grey;
    box-shadow: 0px 0px 15px -10px grey;
  }

  img {

    margin:     0;
    max-height: 80px;
    max-width:  80px;
    display:    inline;

  }

  h3.alpha {

    text-align:  left;
    width:       80%;
    font-size:   1.6em;
    display:     inline-block;
    font-family: "Adobe Caslon Pro",Palatino,"Times New Roman",serif;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    margin-top: 0;
  }

  p.lede {

    font-size:   1em;
    margin: 0;
    text-align: left;
    text-transform: lowercase;
    color: #656565;
  }

  span[class*="__box__count"] {

    position: absolute;
    right: -2px;
    color: #D3D3D3;
    top: 3px;
    font-size: 2.8em;
  }

}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;

  .flag--top & {
    vertical-align: top;
  }

  .flag--bottom & {
    vertical-align: bottom;
  }

}

.flag__image {
  padding-right: 10px;

  > img {
    display: block;
    max-width: none;
  }

  .flag--rev & {
    padding-right: 0;
    padding-left: 10px;
  }

}

.flag__body {
  width: 100%;
}


@media only screen and (max-width: 480px) {

  blockquote[id^="clubs"],
  blockquote[id^="events"] {

    margin: 17px 10px;
  }

  div[class*="__box"] {

    img {

      max-height: 70px;
      max-width:  70px;
    }

    h3.alpha {

      font-size:   1.1em;
    }

    p.lede {

      font-size:   0.8em;
    }

    span[class*="__box__count"] {

      font-size: 2em;
    }
  }

}
*/
