/* This stylesheet is used to style the public-facing components of the plugin. */

/* http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
/* ====== media ====== */
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}

.media .img { width: 16%; padding-top: 1%; }


/* Mostly ripped from usc-jobs */
$usc-clubs-salmon: rgb(255, 90, 90);
$usc-clubs-salmon--transparent: rgba(255, 90, 90, .8);

@mixin sidebar-btn-colors($transparent_decimal: 1) {

  border-color:     #CCC;

  color:            rgb(102, 102, 102);
  color:            rgba(102, 102, 102, $transparent_decimal);

  background-color: rgb(239, 239, 239);
  background-color: rgba(239, 239, 239, $transparent_decimal);

  input {
    opacity: $transparent_decimal;
    filter: alpha(opacity= ($transparent_decimal * 100)); /* For IE8 and earlier */
  }
}

@mixin btn-style($border-color: #CCC, $margin: 15px 0 10px, $background-color: #EFEFEF) {

  border:       1px solid $border-color;
  padding:      15px 15px;
  display:      block;
  position:     relative;
  margin:       $margin;
  background:   none repeat scroll 0% 0% $background-color;

}

.page-id-127,
.parent-pageid-127,
.usc_clubs-main-content {

  .et_pb_fullwidth_header {

    background-color: $usc-clubs-salmon;
  }

  .breadcrumbs a,
  #content-area .et_pb_widget_area li a,
  .collapseomatic {

    &:hover {
      color: $usc-clubs-salmon--transparent !important;
    }
  }

  h4 {

    color: $usc-clubs-salmon;
  }

  .usc-breadcrumbs {

    background-color:#fbfbfb;
  }
}

.usc_clubs-main-content {

  #usc_clubs-post {

    padding-top: 0 !important;
  }

  #content-area {

    padding: 0;

    .et_pb_widget_area {

      padding-top: 30px;
    }
  }

  .usc_clubs-entry-content p {
    /* Got both of these from Tyler's style.css */
    font-size: 1.25em;
    line-height: 1.85;
  }

  .news-article-info {

    margin-bottom: 0px;

    .post-meta {

      font-size: 1.05em;


    }
  }

  .usc_clubs__contact__social_media {

    .social_media_links {

      display:    inline-block;
      width:      50%;
      text-align: center;
      color:      #555555;
      padding:    9px;
      box-sizing: border-box;

      &:hover {

        color:      $usc-clubs-salmon--transparent;
      }

      .label {

        display: block;
      }
    }

    .etmodules:before {

      font-family:    'ETmodules';
      font-weight:    400;
      font-size:      2.8em;

    }

    .etmodules:hover:before {

      color:  $usc-clubs-salmon--transparent;
    }

    .facebookUrl:before {
      content: "\e0c1"; /* social_facebook_square */
      content: "\e0aa"; /* social_facebook_circle */
      content: "\e093"; /* social_facebook */
      color: #3b5998;
    }

    .twitterUrl:before {

      content: "\e0ab"; /* social_twitter_circle */
      content: "\e0c2"; /* social_twitter_square */
      content: "\e094"; /* social_twitter */
      color: #55ACEE;
    }

    .flickrFeedUrl:before {

      content: "\e0d4";  /* social_flickr_square */
      content: "\e0bd";  /* social_flickr_circle */
      content: "\e0a6"; /* social_flickr */
      color: #FF0084;
    }

    .youtubeChannelUrl:before {

      content: "\e0d1"; /* social_youtube_square */
      content: "\e0ba";  /* social_youtube_circle */
      content: "\e0a3"; /* social_youtube */
      color: #e52d27;
    }

    .googleCalendarUrl:before {

      content: "\e0c4"; /* social_googleplus_square */
      content: "\e0ad"; /* social_googleplus_circle */
      content: "\e096"; /* social_googleplus */
      color: #dd4b39;
    }
  }
}

.usc_clubs-entry-content {

  p {

    margin-left:    0;
    padding-bottom: .35em;
  }

  a {

    color: $usc-clubs-salmon;

    &:hover {

      color: $usc-clubs-salmon--transparent;
    }
  }


  /* Resetting styles so as to match the USC directory page */
  .person-content, .person  {

    box-sizing:   border-box;
    margin-right: 15px;

    p {

      line-height:    1.8;
      padding-bottom: 1em;
      font-size:      14px;
    }
  }

  span.subheading {

    display:        inline-block;
    font-weight:    600;
    padding-right:  5px;
  }

  .usc_clubs__contact {

    .usc_clubs__contact__child {
      float: left;
      width: 50%;
    }
  }
}

.page-id-285 {

  .collapseomatic {

    display:  none;
  }

  .et_pb_widget_area  {

    &.collapseomatic_excerpt,
    &.collapseomatic_content {

      margin-left: 0px;
      padding: 0;
      background: none;
      border: none;
    }

    .et_pb_widget {

      margin: 15px 0px 25px;

      .widgettitle {

        color: $usc-clubs-salmon;
      }
    }

    .filterjs__filter__search__wrapper {

      input {

        border:         none;
        border-bottom:  1px solid #ccc;
        width:          100%;
        font-size:      1.75em;
        margin:         10px 0;

        &:focus {
          border-bottom:  1px solid $usc-clubs-salmon;
        }

      }
    }

    .filterjs__filter__checkbox__wrapper {


      ul li {

        margin: 0;

        &:first-of-type {

          margin-top: 15px;
        }

        &:last-of-type {

          margin-bottom: 10px;

          label {

            border-bottom: 1px solid #CCC;
          }
        }

        label {

          @include btn-style( #CCC, 0 );
          @include sidebar-btn-colors(.5);
          border-bottom:  none;
          cursor:         pointer;

          &:hover {

            color: #666666;
          }

          &.checked {

            @include sidebar-btn-colors(1);
          }

          input {

            margin: 3px 18px 3px 3px;
          }
        }

      }
    }
  }

  .usc_clubs--count {

    box-sizing:     border-box;
    margin-top:     15px;
    color:          #666666;
    text-transform: none;
    padding:        0;
    font-style:     italic;
    font-weight:    400;
  }

  .type-usc_clubs {

    @extend .usc_clubs-entry-content;


    /* border color, margin, background color */
    @include btn-style(#efefef, 15px 0 25px, #FFF);

    h2 {

      margin:         0 0 10px 0;
      padding:        10px 0 20px 0;
      border-bottom:  1px dashed #efefef;
      color:          $usc-clubs-salmon;
      position:       relative;

      &:hover {

        color:  $usc-clubs-salmon--transparent;
      }

      &:before {

        font-family:    'ETmodules';
        content: "\45";
        font-size:      0.75em;
        position:       absolute;
        right:          2px;
        color:          $usc-clubs-salmon;

        -webkit-transition-property: right;
        -moz-transition-property: right;
        -o-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.05s;
        -moz-transition-duration: 0.05s;
        -o-transition-duration: 0.05s;
        transition-duration: 0.05s;
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
      }

      &:hover:before{

        right:  0;
        color:  $usc-clubs-salmon--transparent;
      }
    }

    p,
    .post-meta {

      padding: 0;

      a {

        cursor: default;
      }
    }

  }
}


.button_area_at_the_bottom_of_a_single_usc_club {

  text-align: right;

  ul {

    li {

      display:    inline-block;
      width:      100%;
      text-align: left;
      padding:    0 15px 0 0px;
      box-sizing: border-box;
      margin:     15px 0 0 0 !important;

      a {

        color: #666;
        position: relative;

        &.height_of_person_header {

          padding: 10px 15px;
        }

        &:hover {

          color: $usc-clubs-salmon--transparent;

          &:before {

            right: 15px;
          }
        }
      }
    }
  }
}

.btn-menu {

  ul li a {
    position: relative;
  }

  :before {
    font-weight: normal;
  }

  .job_description_file:before {

    content: "\e092";
  }
  .job_posting_file:before {

    content: "\e092";
  }
  .application_link:before {

    content: "\e02b";
  }
}

@media screen and (max-width: 980px) {

  .page-id-285 {

    .collapseomatic {

      display:  block;
      padding: 15px;
      color: #666;
      margin-top: 15px;
      border: 0;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .et_pb_widget_area  {

      &.collapseomatic_excerpt,
      &.collapseomatic_content {
        display: none;
        padding: 15px;
        background-color: #f9f9f9;

        .searchbox {

          background-color: #f9f9f9;
        }
      }
    }

    .usc_clubs--count {

      margin-top:     30px;
    }

  }


  .usc_clubs-main-content .usc_clubs__contact__social_media {

    .social_media_links {

      width:      33%;
    }
  }


  .usc_clubs-entry-content {

    .person-content, .person  {

      margin-right: 0px;
    }

    .usc_clubs__contact .usc_clubs__contact__child {

      padding-top: 15px;
      width: 100%;
    }
  }

  .button_area_at_the_bottom_of_a_single_usc_club ul li {

    width:    100%;
    display:  block;
    padding:  0;
  }
}

@media screen and (max-width: 750px) {

  .media .img { display: none; }

  .usc_clubs-entry-content {

    .usc_clubs__contact .usc_clubs__contact__child {
      width: 100%;
    }
  }

  .usc_clubs-main-content .usc_clubs__contact__social_media {

    .social_media_links {

      width:      50%;
    }
  }
}


@media screen and (max-width: 480px) {

  .type-usc_clubs {

    .img {

      display: none;
    }

  }

  .usc_clubs-main-content .usc_clubs__contact__social_media {

    .social_media_links {

      padding: 20px;

      .label  {
        display: none;
      }
    }
  }
}










/* This applies to the full page clubs pages
article[id^="club-"] {

  img.club-logo {

    max-width:  170px;
    max-height: 170px;
    padding:    5px;
    border:     1px solid lightgrey;

  }

  a[rel="back"]:before {

    content: "<<<";
    padding-right: 0.5em;
  }

  p.vcard a {

    padding-right:  10px;
  }
}


/* Applies to the clubs/events lists *
/* Attribute selectors explained here: http://css-tricks.com/attribute-selectors/ *
blockquote[id^="clubs"],
blockquote[id^="events"] {

  margin: 17px 40px;
}

/* Source: http://csswizardry.com/2013/05/the-flag-object/ *
.flag {
  display: table;
  width: 100%;
}

div[class*="__box"] {

  border:         1px solid lightgrey;
  padding:        4px;
  position:       relative;
  border-radius:  2px;
  margin-bottom:  10px;
  overflow:       hidden;
  display:        block;

  &:hover {

    -webkit-box-shadow: 0px 0px 15px -10px grey;
    box-shadow: 0px 0px 15px -10px grey;
  }

  img {

    margin:     0;
    max-height: 80px;
    max-width:  80px;
    display:    inline;

  }

  h3.alpha {

    text-align:  left;
    width:       80%;
    font-size:   1.6em;
    display:     inline-block;
    font-family: "Adobe Caslon Pro",Palatino,"Times New Roman",serif;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    margin-top: 0;
  }

  p.lede {

    font-size:   1em;
    margin: 0;
    text-align: left;
    text-transform: lowercase;
    color: #656565;
  }

  span[class*="__box__count"] {

    position: absolute;
    right: -2px;
    color: #D3D3D3;
    top: 3px;
    font-size: 2.8em;
  }

}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;

  .flag--top & {
    vertical-align: top;
  }

  .flag--bottom & {
    vertical-align: bottom;
  }

}

.flag__image {
  padding-right: 10px;

  > img {
    display: block;
    max-width: none;
  }

  .flag--rev & {
    padding-right: 0;
    padding-left: 10px;
  }

}

.flag__body {
  width: 100%;
}


@media only screen and (max-width: 480px) {

  blockquote[id^="clubs"],
  blockquote[id^="events"] {

    margin: 17px 10px;
  }

  div[class*="__box"] {

    img {

      max-height: 70px;
      max-width:  70px;
    }

    h3.alpha {

      font-size:   1.1em;
    }

    p.lede {

      font-size:   0.8em;
    }

    span[class*="__box__count"] {

      font-size: 2em;
    }
  }

}
*/


