@charset "CP850";
/* This stylesheet is used to style the public-facing components of the plugin. */
article[id^="club-"] img.club-logo {
  max-width: 170px;
  max-height: 170px;
  padding: 5px;
  border: 1px solid lightgrey; }
article[id^="club-"] a[rel="back"]:before {
  content: "«««";
  padding-right: 0.5em; }
article[id^="club-"] p.vcard a {
  padding-right: 10px; }

article#post-80 div.club-box {
  border: 1px solid #808080;
  padding: 4px;
  position: relative; }
  article#post-80 div.club-box img {
    margin: 0;
    max-height: 80px;
    max-width: 80px;
    display: inline; }
  article#post-80 div.club-box p {
    text-align: left;
    width: 80%;
    font-size: 1.6em;
    display: inline-block; }
  article#post-80 div.club-box span.club-list-num {
    position: absolute;
    top: 0;
    right: 0;
    color: lightgrey; }
