/* This stylesheet is used to style the public-facing components of the plugin. */

article[id^="club-"] {

    img.club-logo {

      max-width:  170px;
      max-height: 170px;
      padding:    5px;
      border:     1px solid lightgrey;

    }

    a[rel="back"]:before {
      content: "«««";
      padding-right: 0.5em;
    }

    p.vcard a {
      padding-right:  10px;
    }
}